body{
  font-family: montserrat;
}
.logo{
    align-self: center;
}
.texture{
min-height: 100px;
overflow: hidden;
color:white;
text-align:center;
margin-top:0px;


}
#navb{
    background-color: #f2f2f2;
    
}
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.nav-link{
    color:black;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #255;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}
@media only screen and (max-width:768px){

  #about{
    color: #000000;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas: 
      "head head"
      " about1 about1 "
      " about2 about2"
      " img4 img2"
      " about3 about3"
      " img3 img1"
      " about4 about4"
  }
}
@media only screen and (min-width:769px){
  #about{
  color: #000000;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas: 
    "head head head"
    " about1 about1 img1"
    " img2 about2 about2"
    " about3 about3 img3"
    " img4 about4 about4"
}

}

.one{
  font-size:6vw;

}
#about p{
  text-align:left;
  padding:0 10px;
  font-family:Helvetica, sans-serif;
  
}
#about ul{
  text-align:left;
}
.event{
  text-align:left;
  background-color:rgb(126, 82, 82);
  cursor: pointer;
}

#section1{
  display:block;
  color:black;
}
#section2{
  display:none;
  color:black;
}
#section3{
  display:none;
  color:black;
}
#section4{
  display:none;
  color:black;
}
#section5{
  display:none;
  color:black;
}
#section6{
  display:none;
  color:black;
}
#subs{
  margin-left:auto;
  margin-right:auto;
}
#email{
  width:100%;
  text-align: center;
}
.sub{
  width:100%;
  height: 25px;
  color:white;
  font-size:12px;
  text-align:center;
  background-color: rgb(131, 32, 32);
  border:2px solid rgb(112, 22, 22);
  margin-top:5px;
}
@media only screen and (max-width:767px){
}
@media only screen and (min-width:768px){
  #wrapper{
    display:grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap:20px;
    grid-column-gap: 20px;
    grid-template-areas:
        " pic president"
        "  vice manager"
        "  webdev .";
  }}
  
@media only screen and (min-width:990px){
#wrapper{
  display:grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap:20px;
  grid-column-gap: 20px;
  grid-template-areas:
      " . pic ."
      " president vice manager"
      " . webdev .";
}}

.card-4{
  background-color:#eee;
  color:black;
  border-radius:50px;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  place-items: center;
  padding:10px;
  box-sizing:border-box;
  max-width:330px;
  margin-top:10px;
}
.card-4:hover{
  
  
  animation-name: myanim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}
@keyframes myanim{
  0%{background-color: #eee;border-radius:50px;}
  100%{
    background-color:rgb(218, 218, 1);border-radius: 0px;
  }

}
.info{
  margin-top:30px;
}
footer{
  margin-top:20px;
}
.sideimg{
  width:inherit;
  margin-top:10px;
}
.row div{
  margin-top:10px;
  height: 300px;
  overflow: hidden;
}
.img{
  width:300px;
  object-fit: cover;
  cursor: zoom-in;
}
/* Lightbox */
.lightbox{
  display:none;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index:1000;
  overflow: scroll;
}
#close{
  z-index:1100;
  float:right;
  right:0;
  top:0;
}
#lightimg{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

}
@media only screen and (max-width:400px){
  #lightimg{
    max-width:200px;
  }
}
@media only screen and (max-width:768px){
  #lightimg{
    max-width:300px;
  }
}
@media only screen and (max-width:991px){
  #lightimg{
    max-width:500px;
  }
}
@media only screen and (min-width:992px){
  #lightimg{
    max-width:600px;
  }
}
/* Lightbox Ended */
.eve{
  border:1px solid black;
  background-color:#eee;
}
@media only screen and (max-width:576px){
  #myslide{
    height: 400px;
    overflow: hidden;
    
  }
  
}
#myslide{
  background-image: radial-gradient(#fff,#fef100);

}
.carousel-item img{
  object-fit:contain;
  width: 100%;
  object-position: center;
}